# Used for web application - this is the backend API server.
# These should be passed as build-time variables (ARG) in docker.
PUBLIC_SERVER_URL=http://127.0.0.1:3035
PUBLIC_SERVER_API_PATH=/api
PUBLIC_BASE_PATH=/

# Used to set the host/port for Vite dev/preview and `pnpm start`.
PUBLIC_WEB_URL=http://127.0.0.1:8085
